<h1>All Movies</h1>

<div>
<strong><%= link_to "Add Movie", new_movie_path %></strong>
</div>
<br>
<div style="width:100%;">
<% @movies.each do |movie| %>
	<div style="display: inline-block; padding: 0 10px;">
		<%= link_to image_tag("http://image.tmdb.org/t/p/w300#{movie.movie_meta.poster}"), movie %>
	</div>
<% end %>
</div>