<h1>Movie Reviews</h1>

<% if !signed_in? %>
<strong><%= link_to "Log In", new_session_path %></strong><br>
<% else %>
<strong>Welcome, <%= current_user.name %></strong><br>
<% end %>
<strong><%= link_to "All Movies", controller: "movies" %></strong>